@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
*, *:before, *:after {
    box-sizing: inherit;
}
a{
	text-decoration: none;
	color: #000;
}
ul{
	list-style-type: none;
}
input[type=text], input[type=password],input[type=date]{
	padding: 1%;
	width: 50%;
	text-align: left;
	color: #999;
	font-weight: 400;
	font-style: inherit;
}
div{
	display: block;
}
.center{
	left: 15%;
	right: 15%;
	text-align: center;
}
.btn{
	background: none;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	border: 2px solid transparent;
}
.btn-non{
	border: 0;
}
.btn-open{
	border: solid 2px;
}
.btn-tap{
	background-color: #00b22d;
	border: #00b22d;
	/*border-radius: 0 3px 3px 0;*/
	box-sizing: border-box;
	background: linear-gradient(#35c350,#03b525);
	padding: 1.1% 1.7%;
	margin: 0;
	color: #fff !important;
}
.top{
	position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
.title{
	font-weight: bold;
	font-size: 1.7em;
	color: #000;
}
.bar{
	width: 100%;
	overflow: hidden;
	display: block;
	color: #000!important;
	padding: 30px 0% !important;
}
.box{
	width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
}
.unbox{
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.unbox-content {
	border-radius: 5px !important;
	border-radius: 5px;box-shadow: 0 0 8px rgba(0,0,0,0.4);
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 2%;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}
.unbox-content-body{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 10px 0;
	font-style: inherit;
}
.unbox-content-foot{
	border-top: 2px solid #dddddd;
	padding: 3px 0 !important;
	display: block;
	text-align: center;
	width: 100%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.bar-right{
	float: right !important;
	list-style-type: none;
	display: block;
	margin-right: 5%;
}
.bar-item{
	display: block;
	font-family: 'Roboto', sans-serif;
	float: left;
	width: auto;
	padding: 8px 16px;
	color: #fff!important;
}
.head-text{
	display: block;
	position: absolute;
	text-align: center;
	left: 15%;
	right: 15%;
	z-index: 1;
	bottom: 32%;
	padding-top: 20px;
	width:70%;
	padding-bottom: 20px;
}
.head-text-h{
	font-weight: 600;
	font-size: 3.9em;
	color: #fff!important;
	line-height: 110%;
	letter-spacing: -.3px;

    text-transform: capitalize!important;
}
.body{
	padding-top: 30px;
	background: #d5d4d2;
	width: 100%;
	padding-bottom: 30px;
}
.body-plate{
	width: 100%;
	margin: 0 auto;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
.body-plate-h{
	color: #0e0e0f;
    font-weight: 600;
    font-size: 2.1em;
    line-height: 120%;
    letter-spacing: -.3px;
    text-transform: capitalize!important;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
}
.body-plate p{
	line-height: 120%;
	color: #0e0e0f;
	padding: 0;
	font-size: 1.5em;
}
.body-dish ul li{
	display: inline-block;
	width: 32.5%;
	text-align: center;
	padding: 6% 0;
	font-size: 2.1em;
}
.form{
	margin: 0 auto;
	width: 100%
	display: block;
	padding: 10px 0;
	font-style: inherit;
}
.form-element, .form-element:hover, .form-element:active{
	border: 0px;
	border-bottom: 1px solid #00b22d !important;
	display: block;
	width: 100% !important;
	padding: 10px 0 !important;
	text-align: center !important;
	margin-bottom: 15px; 
	font-size: 1.3em;
}
.form .btn-tap{
	padding: 15px 0%;
	width: 100%;
	margin-bottom: 10px;
}
.form input[type=checkbox]{
	text-align: left !important;
}
.unbox a{
	color: #00b22d;
}
.search{
	background: #353537;
	display: block;
	overflow: hidden;
}
.search-h{
	text-align: center;
	font-size: 2em;
	color: #fff;
}
.search-result{
	margin: 0 auto;
	width: 80%;
}
.result{
	width: 60%;
	text-align: center;
	margin: 5% auto;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
}
.result-img{
	border-radius: 35px;
	width: 90%;
}
.result table tr td{
	text-align: left;
}
.result-h{
	width: 14%;
}
.result-content{
	width: 58%;
	color: #fff;
}
.result-content p,.result-content h3{
	padding: 0 !important;
	margin: 0;
}
.result-btn{
	width: 28%;
}
.result-btn .btn{
	padding: 10% 20%;
}
.headup{
	font-style: inherit;
	font-size: 1.3em;
}
.foot-bag{
	background-color: #fff;
}