<!DOCTYPE html>
<html>
<head>
	<title>Ride My Way | My Profile</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<section class="head">
		<div class="top bar white">
			<a class="bar-item title ds" href="#">Ride My Way</a>
			<form method="post" class="bar-item search-form">
		    	<input type="text" class="search-u" name="" id="search-box" placeholder="Search for available ride offer">
		    	<button class="btn btn-tap search-u-btn" type="button" id="search">Search</button>
		    </form>
			<div class="bar-right">
				<button class="bar-item btn btn-non ds msg">Messages</button>
				<a class="ds" id="dropdown-toggle">
					<img id="userpic" src="images/mails.png">
				</a>
				<div class="dropdown" id="dropdown">
					<ul>
						<li class="dropdown-item" id="user"></li>
						<li class="dropdown-item"><a id="myprofile" href="">My Profile</a></li>
						<li class="dropdown-item"><a href="profile.html">Settings</a></li>
						<hr>
						<li class="dropdown-item"><a id="logout" href="">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</section>
	<section class="body">
		<div class="dashboard">
			<div class="dashboard-h">
				<h1>Dashboard</h1>
			</div>
			<hr>
			<div class="dashboard-content">
				<div class="horizon-box">
					<div class="horizon-box-h">
						<h2 class="topic">Ride Offer</h2> 
						<input class="btn btn-tap attached" id="ride-add" value="+">
					</div>
					<div class="horizon-box-content">
						<div class="ride-offers">
							<div class="ride-offer">
								<div class="offer">
									<div class="offer-details">
										<h3>Lorem ipsum - Duis aute</h3>
										<p>Date: 4/06/2018</p>
										<p>Time: 4:50pm</p>
									</div>
									<div class="offer-response">
										<button id="7" class="btn btn-tap offer-response-b">v</button>
									</div>
								</div>
								<div class="offer-pass" id="offer7">
									<div class="pass pass-pending">
										<div class="pass-name">
											<p>Fred Adelabu</p>
										</div>
										<div class="pass-response">
											<button class="btn btn-tap">Accept</button>
											<button class="btn btn-tap red">Reject</button>
										</div>
									</div>
									<div class="pass pass-pending">
										<div class="pass-name">
											<p>Lorem ipsum</p>
										</div>
										<div class="pass-response">
											<button class="btn btn-tap">Accept</button>
											<button class="btn btn-tap red">Reject</button>
										</div>
									</div>
									<div class="pass pass-success">
										<div class="pass-name">
											<p>deserunt mollit</p>
										</div>
										<div class="pass-response">
											<button class="btn btn-tap">Accepted</button>
										</div>
									</div>
								</div>
							</div>
							<div class="ride-offer">
								<div class="offer">
									<div class="offer-details">
										<h3>Location - Destination</h3>
										<p>Date: 4/06/2018</p>
										<p>Time: 4:50pm</p>
									</div>
									<div class="offer-response">
										<button id="2" class="btn btn-tap offer-response-b">v</button>
									</div>
								</div>
								<div class="offer-pass" id="offer2">
									<div class="pass pass-pending">
										<div class="pass-name">
											<p>ullamco laboris</p>
										</div>
										<div class="pass-response">
											<button class="btn btn-tap">Accept</button>
											<button class="btn btn-tap red">Reject</button>
										</div>
									</div>
									<div class="pass pass-pending">
										<div class="pass-name">
											<p>magna aliqua</p>
										</div>
										<div class="pass-response">
											<button class="btn btn-tap">Accept</button>
											<button class="btn btn-tap red">Reject</button>
										</div>
									</div>
									<div class="pass pass-success">
										<div class="pass-name">
											<p>magna aliqua</p>
										</div>
										<div class="pass-response">
											<button class="btn btn-tap">Accepted</button>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="pg-ride">
							<div id="ride-offer" class="ride-offer">
							<div class="offer">
								<div class="offer-details">
									<h3>Location - Destination</h3>
									<p>Date: 4/06/2018</p>
									<p>Time: 4:50pm</p>
								</div>
								<div class="offer-response">
									<button class="btn btn-tap response">Accept</button>
								</div>
							</div>
							<div class="offer">
								<div class="offer-details">
									<h3>Location - Destination</h3>
									<p>Date: 4/06/2018</p>
									<p>Time: 4:50pm</p>
								</div>
								<div class="offer-response">
									<button class="btn btn-tap response">Accept</button>
								</div>
							</div>

						</div>
						<div id="search-bar" class="search-bar">
							<div class="offer">
								<div class="offer-details">
									<h3>Location - Destination</h3>
									<p>Date: 4/06/2018</p>
									<p>Time: 4:50pm</p>
								</div>
								<div class="offer-response">
									<button class="btn btn-tap response">Accept</button>
								</div>
							</div>
							<div class="offer">
								<div class="offer-details">
									<h3>Location - Destination</h3>
									<p>Date: 4/06/2018</p>
									<p>Time: 4:50pm</p>
								</div>
								<div class="offer-response">
									<button class="btn btn-tap response">Accept</button>
								</div>
							</div>
							<div class="offer">
								<div class="offer-details">
									<h3>Location - Destination</h3>
									<p>Date: 4/06/2018</p>
									<p>Time: 4:50pm</p>
								</div>
								<div class="offer-response">
									<button class="btn btn-tap response">Accept</button>
								</div>
							</div>

						</div>
						<div id="ride-offer-accept">
							<div class="offer">
								<div class="offer-details">
									<h3>Location - Destination</h3>
									<p>Date: 4/06/2018</p>
									<p>Time: 4:50pm</p>
								</div>
								<div class="offer-response">
									<button class="btn btn-tap response">Accepted</button>
								</div>
							</div>
							<div class="offer">
								<div class="offer-details">
									<h3>Location - Destination</h3>
									<p>Date: 4/06/2018</p>
									<p>Time: 4:50pm</p>
								</div>
								<div class="offer-response">
									<button class="btn btn-tap response">Accepted</button>
								</div>
							</div>

						</div>
						<div id="ride-offer-pending">
							<div class="offer">
								<div class="offer-details">
									<h3>Location - Destination</h3>
									<p>Date: 4/06/2018</p>
									<p>Time: 4:50pm</p>
								</div>
								<div class="offer-response">
									<button class="btn btn-tap response">Accept</button>
								</div>
							</div>
							<div class="offer">
								<div class="offer-details">
									<h3>Location - Destination</h3>
									<p>Date: 4/06/2018</p>
									<p>Time: 4:50pm</p>
								</div>
								<div class="offer-response">
									<button class="btn btn-tap response">Accept</button>
								</div>
							</div>
							<div class="offer">
								<div class="offer-details">
									<h3>Location - Destination</h3>
									<p>Date: 4/06/2018</p>
									<p>Time: 4:50pm</p>
								</div>
								<div class="offer-response">
									<button class="btn btn-tap response">Accept</button>
								</div>
							</div>

						</div>
						</div>
					</div>
				</div>
				<div class="vertic-box">
					<div class="gig-profile">
						<div class="gig-profile-img">
							<img id="pagepic" src="images/mails.png">
						</div>
						<div class="gig-profile-p">
							<p id="pageuser"></p>
						</div>
						<p><span class="btn-tap s-badge">34</span> new response(s)</p>
					</div>
					<div class="dr-gig">
						<div class="ride">
							<p>Total Ride Offer</p>
							<button class="btn btn-tap badge">45</button>
						</div>
						<div class="ride">
							<p>Present Ride Offer</p>
							<button class="btn btn-tap badge yellow">45</button>
						</div>
						<div class="ride">
							<p>Active Ride Offer</p>
							<button class="btn btn-tap badge gray">45</button>
						</div>
						<div class="ride">
							<p>Expired Ride Offer</p>
							<button class="btn btn-tap badge red">45</button>
						</div>
					</div>
					<div class="pg-gig">
						<div class="ride" type="button" id="accept">
							<p>Accepted ride Offer</p>
							<button class="btn btn-tap badge">45</button>
						</div>
						<div class="ride" type="button" id="pending">
							<p>Pending Ride Offer</p>
							<button class="btn btn-tap badge yellow">45</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="foot">
		<div class="foot-bag center">
			<p><a href="">Privacy Policy</a> | <a href="">Terms of Service</a> | <a href=""> About </a> <br>© Ride My Way lnc. 2018</p>
		</div>
	</section>
	<div id="add" class="unbox">
  		<!-- Unbox content -->
	  <div class="unbox-content">
	    <span class="close">&times;</span><br>
	    <div class="unbox-content-body">
	    	<p>please fill in all the required info to add a new ride offer.</p>
	    	<form method="POST" class="add-new">
	    		<label>Starting Point:</label>
	    		<input type="text" class="form-new" name="Location" placeholder="Location">
	    		<label>Destination :</label>
	    		<input type="text" class="form-new" name="destination" placeholder="Destination">
	    		<label>Date :</label>
	    		<input type="date" class="form-new" name="date" >
	    		<label>Time :</label>
	    		<input type="text" class="form-new" name="time"  placeholder="Example : 4 : 50 pm">
	    		<button class="btn btn-tap" type="submit" id="create-ride">Add</button>
	    	</form>
	    </div>
	  </div>
	</div>
	<script type="text/javascript" src="js/dropdown.js"></script>
	<script type="text/javascript" src="js/get.js"></script>
	<script type="text/javascript" src="js/dashboard.js"></script>
</body>
</html>